# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries
* Tabel of Data Science Tools
* Examples of artmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. C/C++

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciKit-Learn
4. Keras

| Data Science Tools | 
| -------------|
| Rstudio |
| JupyterNotebook | 
| Apache Spark |

 ### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sebastian Haupt